@use "../abstracts/functions" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  background: #111;

  color: #ccc;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .footer-links {
    display: flex;
    gap: 1.5rem;

    a {
      color: #ccc;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }

  .credits {
    margin: 0;
  }
}

.footer-social {
  margin-top: rem(12);
  display: flex;
  gap: rem(12);
  justify-content: center;

  a {
    color: $color-text;
    transition: color 0.2s ease;

    &:hover {
      color: $color-primary;
    }
  }
}
